.build-tools/
build-windows/
dist-windows/
build/
dist/
venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.exe
*.torrent
*_screenshot_*.jpg
*_layout_*.jpg
*_preview.gif
*_preview.webp
*_HamsterImg_links.txt

.updates/
